<!DOCTYPE html>
<html>
  <head>
    <title>Tea Jar Newsletter</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    "
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      style="max-width: 600px; background-color: #ffffff; margin: auto"
    >
      <!-- Header -->
   
      <tr>
        <td>
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="
              height: 450px;
              text-align: center;
              color: white;
            "
          >
            <tr>
              <td>
                <a
            href="https://www.teajarceylon.com"
            style="
              color: black;
              text-decoration: none;
              font-weight: 700;
              font-size: 25px;
            "
            target="_blank"
            >
                <img src="https://teajarceylon.com/re2-optimized.webp" style="width: 100%;margin-bottom: 25px;" alt="">
                </a
                ></td>
            </tr>
          </table>
        </td>
      </tr>

  

      <tr>
        <td
          style="
            padding: 20px;
            background-color: #82a7a0;
            text-align: center;
            color: black;
          "
        >
          <p style="font-size: 25px; margin-bottom: 0px; margin-top: 0px">
            Visit us at
          </p>
          <a
            href="https://www.teajarceylon.com"
            style="
              color: #d1ae6c;
              text-decoration: none;
              font-weight: 700;
              font-size: 25px;
            "
            target="_blank"
            >www.teajarceylon.com</a>
          <p style="font-size: 25px">
            Enjoy seamless shopping with <br />
            unbeatable offers.
          </p>
          <p
            style="
              font-size: 28px;
              margin: 0px;
              font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            "
          >
            Use Code: <span style="font-weight: 700">TEAJAR2024</span>
          </p>
        </td>
      </tr>

      <!-- Promotional Section -->
      <tr>
        <td>
          <table
            width="100%"
            cellpadding="5"
            cellspacing="0"
            style="
              background-color: #043728;
              text-align: center;
              color: white;
              border-collapse: collapse;
              border: 1px solid white;
            "
          >
            <tr>
              <td style="border: 5px solid white; width: 33.33%">
                <img
                  src="https://teajarceylon.com/assets/icons/6.png"
                  alt="Free Delivery"
                  width="50"
                />
              </td>
              <td style="border: 5px solid white; width: 33.33%">
                <h4 style="margin: 0; font-size: 16px">
                  <a
                    style="
                      text-decoration: none;
                      color: white;
                      text-align: center;
                    "
                    target="_blank" 
                    href="https://www.teajarceylon.com/shop"
                    >SHOP NOW</a
                  >
                </h4>
              </td>
              <td style="border: 5px solid white; width: 33.33%">
                <h4 style="margin: 0; font-size: 16px">
                  30% Off<br /><span style="font-size: 11px"
                    >for all products</span
                  >
                </h4>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Products Section -->
      <tr>
        <td style="padding: 20px;">
          <table
            width="100%"
            cellpadding="10"
            cellspacing="0"
            style="text-align: center"
          >
            <tr>
              <td style="width: 33.33%"">
                <a
                  href="https://teajarceylon.com/products/cardamom-flavored-black-tea-loose-leaf-175g"
                  target="_blank"
                  style="text-decoration: none; color: black"
                >
                  <img
                    src="https://teajarceylon.com/assets/gif/cardamom-loose.gif"
                    alt="Cardamom Tea"
                    style="width: 100%; max-width: 150px"
                  />
                  <h4 style="height: 40px;">Cardamom Flavored Black Tea Loose Leaf 175g</h4>
                </a>
              </td>
              <td style="width: 33.33%"">
                <a
                  href="https://teajarceylon.com/products/pure-ceylon-green-tea-15-tea-bags"
                  target="_blank"
                  style="text-decoration: none; color: black"
                >
                  <img
                    src="https://teajarceylon.com/assets/gif/pure-ceylon-15-tb.gif"
                    alt="Peach Tea"
                    style="width: 100%; max-width: 150px"
                  />
                  <h4 style="height: 40px;">Pure Ceylon Green Tea 15 Luxury Leaf Tea Bag</h4>
                </a>
              </td>
              <td style="width: 33.33%"">
                <a
                  href="https://teajarceylon.com/products/blue-sapphire-blueberry-mint-flavor-100g-loose-tea"
                  target="_blank"
                  style="text-decoration: none; color: black"
                >
                  <img
                    src="https://teajarceylon.com/assets/gif/blue-sapphire.gif"
                    alt="Apple Tea"
                    style="width: 100%; max-width: 150px"
                  />
                  <h4 style="height: 40px;">Blue sapphire Blueberry Mint Flavored Black Tea</h4>
                </a>
              </td>
              
            </tr>
          </table>
        </td>
      </tr>

      <!-- Footer Section -->
      <tr>
        <td
          style="text-align: center; padding: 20px; background-color: #f4f4f4"
        >
          <p style="font-size: 14px; color: #777">
            © 2024 Tea Jar. All Rights Reserved.
          </p>
          <p style="margin-bottom: 25px">
            Need Help? Our Tea Experts are here for you.
          </p>
          <a
            href="mailto:marketing@teajarceylon.com"
            style="
              padding: 10px 20px;
              background-color: #043728;
              color: white;
              text-decoration: none;
              border-radius: 5px;
              font-family: Arial, sans-serif;
              font-size: 14px;
            "
            >Contact Us</a
          >
          <p style="margin-top: 25px">
            <a
              href="https://web.facebook.com/teajarceylon"
              target="_blank"
              style="margin: 0 10px; text-decoration: none"
              ><img
                src="https://teajarceylon.com/assets/icons/social/png/facebook.png"
                alt="Facebook"
                width="30"
                style="vertical-align: middle"
            /></a>
            <a
              href="https://www.instagram.com/tea_jar_/"
              target="_blank"
              style="margin: 0 10px; text-decoration: none"
              ><img
                src="https://teajarceylon.com/assets/icons/social/png/instagram.png"
                alt="Instagram"
                width="30"
                style="vertical-align: middle"
            /></a>
            <a
              href="https://www.tiktok.com/@tea_jar_01"
              target="_blank"
              style="margin: 0 10px; text-decoration: none"
              ><img
                src="https://teajarceylon.com/assets/icons/social/png/tiktok.png"
                alt="TikTok"
                width="30"
                style="vertical-align: middle"
            /></a>
            <a
              href="https://web.whatsapp.com/send?phone=94705508800&text=hi"
              target="_blank"
              style="margin: 0 10px; text-decoration: none"
              ><img
                src="https://teajarceylon.com/assets/icons/social/png/whatsapp.png"
                alt="WhatsApp"
                width="30"
                style="vertical-align: middle"
            /></a>
            <aa
              href="https://www.youtube.com/your-channel"
              target="_blank"
              style="margin: 0 10px; text-decoration: none"
              ><img
                src="https://teajarceylon.com/assets/icons/social/png/youtube.png"
                alt="YouTube"
                width="30"
                style="vertical-align: middle"
            /></aa>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
